body{
    font-family:'open Sans',sans-serif;
    background-color:black;
}
#container{
    widows:1000px;
    height: 700px;
    background-image:url(galaxy.jpg);
    margin: 5px auto;
}
#calculator{
    width: 330px;
    height:650px;
    background-color:#fcfcfc;
    margin:0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    rgba(0, 0, 0, 0.19);
}
#result{
    height: 180px;
}
#history{
    text-align: right;
    height: 10px;
    margin: 0 20px;
    padding-top:20px;
    font-size:17px;
    color: #919191
}
#output{
    text-align: right;
    height: 100px;
    margin: 10px 20px;
    font-size:40px;
}
#keyboard{
    height:400px;
}
.operator, .number, .empty{
    width: 50px;
    height: 60px;
    margin: 15px;
    float: left;
    border-radius:50%;
    border-width:0;
    font-weight: bold;
    font-weight:bold;
    font-size: 28px;
}
.number, .empty{
    background-color: rgb(255, 255, 255);
}
 .operator{
    background-color: rgb(165, 165, 165);
}
.number,.operator{
    cursor:pointer;
}
.operator:active, .number:active{
    font-size:25;
}
.operator:focus, .numberfocus, .empty:focus{
    outline: 1;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #9477af;
}
button:nth-child(16){
    font-size: 20px;
 background-color: #7d93e0;
}
button:nth-child(12){
    font-size: 20px;
 background-color: #f08080;
}
button:nth-child(8){
    font-size: 20px;
 background-color: #ffa500;
}
button:nth-child(4){
    font-size: 20px;
 background-color: #9477af;
}